In [1]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

C:\Users\surya\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\surya\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\surya\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\surya\TweetData.csv',encoding='latin1',header=None)

In [4]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
df.drop([1,2,3,4],axis=1,inplace=True)

In [6]:
df.head()

   0                                                  5
0  0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  0  is upset that he can't update his Facebook by ...
2  0  @Kenichan I dived many times for the ball. Man...
3  0    my whole body feels itchy and like its on fire
4  0  @nationwideclass no, it's not behaving at all....

In [7]:
df.columns=['Sentiment','Tweet']

In [8]:
df.head()

   Sentiment                                              Tweet
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [9]:
df['Sentiment'].value_counts()

4    800000
0    800000
Name: Sentiment, dtype: int64

In [10]:
sent_map={0:'negative',4:'positive'}

### Word Counts

In [11]:
df['WordCount']=df['Tweet'].apply(lambda x: len(str(x).split()))

In [12]:
df.head()

   Sentiment                                              Tweet  WordCount
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...         19
1          0  is upset that he can't update his Facebook by ...         21
2          0  @Kenichan I dived many times for the ball. Man...         18
3          0    my whole body feels itchy and like its on fire          10
4          0  @nationwideclass no, it's not behaving at all....         21

In [13]:
df['Character_Count']=df['Tweet'].apply(lambda x:len(x))

In [14]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115
1,0,is upset that he can't update his Facebook by ...,21,111
2,0,@Kenichan I dived many times for the ball. Man...,18,89
3,0,my whole body feels itchy and like its on fire,10,47
4,0,"@nationwideclass no, it's not behaving at all....",21,111

In [15]:
def avg_word_len(x):
    words=x.split()
    word_len=0
    for y in words:
        word_len=word_len+len(y)
    return word_len/len(words)    # Total_Character/Total_Words in a sentence

In [16]:
df['Avg_word_len']=df['Tweet'].apply(lambda x:avg_word_len(x))

In [17]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115,5.052632
1,0,is upset that he can't update his Facebook by ...,21,111,4.285714
2,0,@Kenichan I dived many times for the ball. Man...,18,89,3.944444
3,0,my whole body feels itchy and like its on fire,10,47,3.700000
4,0,"@nationwideclass no, it's not behaving at all....",21,111,4.285714

### Stop Words Count

In [18]:
print(STOP_WORDS)

{'somehow', 'seem', 'several', 'else', "'d", 'such', 'already', 'it', 'side', 'at', 'either', 'seemed', 'five', 'both', '’ll', 'who', 'himself', 'do', 'latterly', 'somewhere', 'everyone', 'bottom', 'whom', 'seeming', 'not', 'four', 'used', 'say', 'amount', 'nothing', 'once', 'former', '‘ve', 'perhaps', 'serious', 'all', 'most', 'which', 'anyone', 'my', 'get', 'through', 'take', 'everything', 'thereafter', 'herself', 'n’t', 'noone', 'without', 'see', 'off', 'namely', '‘d', 'unless', 'been', 'next', 'her', 'fifty', "'m", 'for', 'were', 'however', 'never', 'neither', 'herein', 'would', 'more', 'back', 'thence', 'various', 'across', 'regarding', 'last', 'just', 'though', 'where', 'towards', 'what', 'enough', 'mostly', 'before', 'after', 'your', 'any', 'down', 'beside', 'doing', 'while', 'whence', 'within', 'between', 'the', 'move', 'you', 'using', 'but', 'me', 'via', 'yourself', 'are', 'is', 'hereafter', 'still', 'therein', 'by', 'twelve', 'whatever', 'him', 'may', '’ve', 'yours', 'nobody', 'from', 'top', 'could', 'us', 'because', 'themselves', 'must', 'go', 'really', 'sixty', 'name', 'forty', 'hundred', '’s', 'thereby', '‘ll', 'also', 'did', 'as', 'in', 'eight', 'keep', 'whereupon', 'again', 'anywhere', 'beyond', 'than', 'here', 'our', 'cannot', 'nor', 'can', 'one', 'will', 'often', 'below', 'every', 'up', 'others', 'them', 'becomes', 'moreover', 'few', 'besides', 'please', 'myself', 'further', 'on', 'why', 'ourselves', 'alone', 'became', 'six', 'his', "'re", 'upon', 'per', 'own', 'three', 'front', 'whereby', 'might', 'am', 'some', 'ever', 'wherein', 'always', 'n‘t', 'they', "n't", 'hereupon', 'now', 'another', 'she', 'be', "'ve", 'these', 'whereafter', 'since', 'hence', 'that', 'nevertheless', 'so', 'when', '‘re', 'elsewhere', 'throughout', 'call', 'anyway', 'ten', 'among', 'due', 'of', 'being', 'show', 'third', 'although', 'two', 'yet', 'along', 'formerly', 'until', 'less', 'about', 'therefore', 'does', 'i', 'even', 'whenever', 'latter', 'eleven', 'their', 'someone', 'whether', 'afterwards', 'into', 'otherwise', 'rather', 'each', 'itself', 'over', '‘s', 'there', 'made', 'how', 'quite', 'only', 'anyhow', 'done', 'or', 'if', 'should', 'and', 'together', 'very', 'beforehand', 'other', 'wherever', 'its', 'none', 'empty', 'mine', 'was', 'least', 'whoever', 'a', 'under', 'then', 'twenty', 'make', 'many', '‘m', 'whereas', 'too', 'becoming', 'thus', 'give', '’re', 'nine', "'ll", 'amongst', "'s", 'this', 'he', 're', 'much', 'hers', 'with', 'well', 'onto', 'whole', 'fifteen', 'around', 'hereby', 'ca', 'ours', 'meanwhile', 'we', 'no', 'same', '’m', 'during', 'an', 'sometimes', 'seems', 'against', 'sometime', 'to', 'almost', 'those', 'toward', 'become', 'something', 'anything', 'above', 'full', '’d', 'except', 'whither', 'part', 'indeed', 'thru', 'nowhere', 'have', 'put', 'had', 'thereupon', 'whose', 'everywhere', 'yourselves', 'behind', 'has', 'first', 'out'}

In [19]:
df['stopword_len']=df['Tweet'].apply(lambda x: len([t for t in x.split() if t in STOP_WORDS]))

In [20]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115,5.052632,4
1,0,is upset that he can't update his Facebook by ...,21,111,4.285714,9
2,0,@Kenichan I dived many times for the ball. Man...,18,89,3.944444,7
3,0,my whole body feels itchy and like its on fire,10,47,3.700000,5
4,0,"@nationwideclass no, it's not behaving at all....",21,111,4.285714,10

### @ and # Counts

In [21]:
df['mention_count']=df['Tweet'].apply(lambda x: len([t for t in x.split() if t.startswith('@')]))
df['hash_count']=df['Tweet'].apply(lambda x: len([t for t in x.split() if t.startswith('#')]))

In [22]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115,5.052632,4,1,0
1,0,is upset that he can't update his Facebook by ...,21,111,4.285714,9,0,0
2,0,@Kenichan I dived many times for the ball. Man...,18,89,3.944444,7,1,0
3,0,my whole body feels itchy and like its on fire,10,47,3.700000,5,0,0
4,0,"@nationwideclass no, it's not behaving at all....",21,111,4.285714,10,1,0

### Numeric Counts in tweet

In [23]:
df['numeric_count']=df['Tweet'].apply(lambda x : len([t for t in x.split() if t.isdigit()]))

In [24]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115,5.052632,4,1,0,0
1,0,is upset that he can't update his Facebook by ...,21,111,4.285714,9,0,0,0
2,0,@Kenichan I dived many times for the ball. Man...,18,89,3.944444,7,1,0,0
3,0,my whole body feels itchy and like its on fire,10,47,3.700000,5,0,0,0
4,0,"@nationwideclass no, it's not behaving at all....",21,111,4.285714,10,1,0,0

### Upper Case Count

In [25]:
# Uppercase often shows happiness or angrines
df['uppercase_count']=df['Tweet'].apply(lambda x : len([t for t in x.split() if t.isupper() and len(t)>3]))

In [26]:
df.head(4)

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",19,115,5.052632,4,1,0,0,0
1,0,is upset that he can't update his Facebook by ...,21,111,4.285714,9,0,0,0,0
2,0,@Kenichan I dived many times for the ball. Man...,18,89,3.944444,7,1,0,0,0
3,0,my whole body feels itchy and like its on fire,10,47,3.700000,5,0,0,0,0

## Preprocessing and Cleaning

In [27]:
#Lower case conversion
df['Tweet']=df['Tweet'].apply(lambda x:x.lower())

In [28]:
df.head(1)

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count
0,0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",19,115,5.052632,4,1,0,0,0

In [29]:
import re

In [31]:
a=df['Tweet'].apply(lambda y: re.findall(r'([a-zA-Z0-9-_.]+@[a-zA-Z0-9-_.]+.[a-zA-Z0-9-_.]+)',y))

#### Count URL and Remove it

In [33]:
df['url']=df['Tweet'].apply(lambda x:re.findall(r'((http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?)',x))

In [34]:
df.head(2)

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count,url
0,0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",19,115,5.052632,4,1,0,0,0,"[(http://twitpic.com/2y1zl, http, twitpic.com,..."
1,0,is upset that he can't update his facebook by ...,21,111,4.285714,9,0,0,0,0,[]

In [35]:
df['Tweet']=df['Tweet'].apply(lambda x:re.sub(r'((http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?)','',x))

In [36]:
df.loc[0]['Tweet']

"@switchfoot  - awww, that's a bummer.  you shoulda got david carr of third day to do it. ;d"

#### Remove Special or Punctuation

In [37]:
df['Tweet']=df['Tweet'].apply(lambda x:re.sub('[^a-z A-Z 0-9-]+','',x))

In [38]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count,url
0,0,switchfoot - awww thats a bummer you shoulda...,19,115,5.052632,4,1,0,0,0,"[(http://twitpic.com/2y1zl, http, twitpic.com,..."
1,0,is upset that he cant update his facebook by t...,21,111,4.285714,9,0,0,0,0,[]
2,0,kenichan i dived many times for the ball manag...,18,89,3.944444,7,1,0,0,0,[]
3,0,my whole body feels itchy and like its on fire,10,47,3.700000,5,0,0,0,0,[]
4,0,nationwideclass no its not behaving at all im ...,21,111,4.285714,10,1,0,0,0,[]

### Remove Multiple Spaces

In [ ]:
df['Tweet']=df['Tweet'].apply(lambda x: ' '.join(x.split()))
df.head(2)

### Remove HTML Tags

In [ ]:
df['Tweet']=df['Tweet'].apply(lambda x: re.sub('<[^>]*>','',x))
df.head(2)

## SpaCy and NLP

In [43]:
df['Tweet']=df['Tweet'].apply(lambda x: ' '.join(t for t in x.split() if t not in STOP_WORDS))

In [ ]:
df.head(2)

### Convert into base or root form of word

In [45]:
import nltk
from nltk.stem import PorterStemmer,SnowballStemmer,LancasterStemmer

In [46]:
ps=PorterStemmer()
ss=SnowballStemmer(language='english')
ls=LancasterStemmer()

In [47]:
df['Tweet']=df['Tweet'].apply(lambda x:ps.stem(x))

### Common Word Removal

In [49]:
text=' '.join(df['Tweet'])

In [51]:
text=text.split()

In [52]:
freq=pd.Series(text).value_counts()

In [53]:
#Storing top 20 most occuring words in 'a'
a=freq[0:20]

In [54]:
# Removing the top 20 most Common Words
df['Tweet']=df['Tweet'].apply(lambda x:' '.join(t for t in x.split() if t not in a))

In [55]:
#Scoring the 20 most rare words in 'b'
b=freq[-20:]

In [56]:
df['Tweet']=df['Tweet'].apply(lambda x: ' '.join(t for t in x.split() if t not in b))

### Machine Learnng Models for Text Classification

In [70]:
df.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count,url
0,0,switchfoot awww thats bummer shoulda david carr d,19,115,5.052632,4,1,0,0,0,"[(http://twitpic.com/2y1zl, http, twitpic.com,..."
1,0,upset update facebook texting cry result schoo...,21,111,4.285714,9,0,0,0,0,[]
2,0,kenichan dived times ball managed save 50 rest...,18,89,3.944444,7,1,0,0,0,[]
3,0,body feels itchy fir,10,47,3.700000,5,0,0,0,0,[]
4,0,nationwideclass behaving mad c,21,111,4.285714,10,1,0,0,0,[]

In [71]:
df.shape

(1600000, 11)

In [72]:
df0=df[df['Sentiment']==0].sample(2000)
df1=df[df['Sentiment']==4].sample(2000)

In [73]:
dfr=df0.append(df1)

In [74]:
dfr.shape

(4000, 11)

In [75]:
dfr.head()

,Sentiment,Tweet,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count,url
607793,0,little sad saw guy corner sign says food famil...,28,131,3.678571,14,0,0,0,0,[]
285195,0,azizansari wanna watch,14,63,3.500000,8,1,0,0,0,[]
17578,0,cat trying sit laptop,9,37,3.111111,4,0,0,0,0,[]
123767,0,college shit wish stayed b,10,46,3.600000,5,0,0,0,0,[]
383039,0,delivering furniture pouring rain snd getting ...,11,68,5.181818,3,0,0,0,0,[]

In [76]:
dfr_feat=df.drop(['Sentiment','Tweet','url'],axis=1)

In [77]:
dfr_feat.head()

,WordCount,Character_Count,Avg_word_len,stopword_len,mention_count,hash_count,numeric_count,uppercase_count
0,19,115,5.052632,4,1,0,0,0
1,21,111,4.285714,9,0,0,0,0
2,18,89,3.944444,7,1,0,0,0
3,10,47,3.700000,5,0,0,0,0
4,21,111,4.285714,10,1,0,0,0

In [78]:
y=dfr['Sentiment']

In [79]:
y.head()

607793    0
285195    0
17578     0
123767    0
383039    0
Name: Sentiment, dtype: int64

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

In [81]:
cv=CountVectorizer()
text_count=cv.fit_transform(dfr['Tweet'])

In [82]:
text_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [83]:
dfr_bow=pd.DataFrame(text_count.toarray(),columns=cv.get_feature_names())

In [84]:
dfr_bow.head()

,010,02,04,0730,09,095,0n3,0nli,0o,0re0co0kie,...,zoey,zomg,zoo,zordon,zrogst,zun,zune,zzzs,zzzzz,zzzzzzzzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
x=dfr_bow

In [86]:
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [87]:
sgd=SGDClassifier(n_jobs=-1,random_state=42,max_iter=200)
lgr=LogisticRegression(random_state=42,max_iter=200)
lgrcv=LogisticRegressionCV(cv=2,random_state=42,max_iter=200)
svm=LinearSVC(random_state=42,max_iter=200)
rfc=RandomForestClassifier(n_estimators=200,random_state=42)

In [89]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=4)

In [90]:
print(xtrain.shape)
print(ytrain.shape)
print(xtest.shape)
print(ytest.shape)

(3000, 9893)
(3000,)
(1000, 9893)
(1000,)

In [91]:
lgr.fit(x,y)
y_pred=lgr.predict(xtest)
accuracy=accuracy_score(ytest,y_pred)
print(accuracy)

0.978

In [92]:
lgrcv.fit(x,y)
y_pred=lgrcv.predict(xtest)
accuracy=accuracy_score(ytest,y_pred)
print(accuracy)

0.939

In [93]:
sgd.fit(x,y)
y_pred=sgd.predict(xtest)
accuracy=accuracy_score(ytest,y_pred)
print(accuracy)

0.994

In [94]:
svm.fit(x,y)
y_pred=svm.predict(xtest)
accuracy=accuracy_score(ytest,y_pred)
print(accuracy)

0.994

In [103]:
rfc.fit(x,y)
y_pred=rfc.predict(xtest)
accuracy=accuracy_score(ytest,y_pred)
print(accuracy)
clas=classification_report(ytest,y_pred)
print(clas)

0.998
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       495
           4       1.00      1.00      1.00       505

    accuracy                           1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000